NODE_ENV=development
PORT=5000

CLIENT_URL=http://localhost:3000
DATABASE_URL=postgresql://user:password@localhost:5432/commutex_db

ACCESS_TOKEN_SECRET=your_access_token_secret
REFRESH_TOKEN_SECRET=your_refresh_token_secret

SEND_MAILS=false
BREVO_API_KEY=your_brevo_api_key
BREVO_SENDER_MAIL=your_brevo_sender_mail
